BOT_TOKEN=your_bot_token_here
GEMINI_API_KEY=your_free_gemini_api_key_here
ALLOWED_USER_ID=your_telegram_user_id_here

SPREADSHEET_ID=10ydswzR7dzg6DQ5YvhHWaJ5Fa0xGlToFX21oWVkD3Mo
SERVICE_ACCOUNT_FILE=service_account.json
OUT_SHEET_NAME=out
IN_SHEET_NAME=in
